#menu_section{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.menu_icon {
    width: 5rem;
    height: 5rem;
}


.menu_container {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding-top: 5rem;
}

.menu_container h4{
    font-size: 3.2rem;
    padding-top: 1.7rem;
    padding-right: 0.5rem;
    text-decoration: underline;
}

#menu_section p{
    font-size: 1.4rem;
    font-weight: 500;
    opacity: 0.8;
    padding: 0;
    margin: 0;
    text-align: center;
}

