

.cart_btn {
    background-color: #212121;
    width: 4.6rem;
    margin: 0 0 0 2rem;
    padding: 0.8rem;
    border-radius: 1.6rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.cart_circle {
    background-color: chartreuse;
    color: #212121;
    font-size: 1.2rem;
    width: 2rem;
    border-radius: 100px;
    padding: 01rem
}