header {
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C5E1A5;
}

header nav .ul_container-1 {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
} 

li , a{
    color: #212121;
    font-size: 1.6rem;
    font-weight: 500;
    list-style: none;
    text-decoration: none;    
}

header nav .ul_container-2 {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
}

header nav .ul_container-2 .normal {
    font-size: 1.6rem;
    font-weight: 500;
    background-color: none;
    border: 1px solid #212121;
    border-radius: 4rem;
    padding: 0.5rem 2rem;
    margin: 0 0 0 2rem;
}

/* header nav .ul_container-2  */
