footer {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    height: 10vh;
    background-color: #212121;
}

footer h6 {
    font-size: 1.6rem;
    font-weight: 200;
    color: rgb(215, 212, 212);
}